* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sec {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.sec .box {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #222;
}

.animate {
    animation: animate 2s linear forwards;
}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }
    50% {
        background: #0f0;
    }
    100% {
        filter: hue-rotate(360deg);
    }
}