* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(#ff0000, #5a0000);
}

.yurak {
    position: relative;
    width: 200px;
    height: 200px;
    background: #e80202;
    transform: rotate(45deg);
    box-shadow: 30px 30px 200px rgba(0, 0, 0, 0.5);
    animation: animate 1s linear infinite;
}


@keyframes animate {
    0% {
        transform: rotate(45deg) scale(1);
    }
    40% {
        transform: rotate(45deg) scale(0.8);
    }
    60% {
        transform: rotate(45deg) scale(1.2);
    }
    80% {
        transform: rotate(45deg) scale(1.3);
    }
    100% {
        transform: rotate(45deg) scale(1);
    }
}


.yurak::before {
    content: '';
    position: absolute;
    top: -100px;
    width: 200px;
    height: 100px;
    background: #e80202;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}


.yurak::after {
    content: '';
    position: absolute;
    left: -100px;
    width: 100px;
    height: 200px;
    background: #e80202;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}